// Fonts
$header-font: 'Bebas Neue', sans-serif;
$body-font: 'Montserrat', sans-serif;
$btn-font-size: 1.2rem;
$bold-font-weight: 700;

// Fonts
$header-font: "Montserrat", sans-serif;
$body-font: "Montserrat", sans-serif;

// Dimensions
$header-height: 3.75rem;
$footer-height: 3.75rem;

// General
$scale-factor: 1.5;

// Padding, Margin, & Gaps
$small-padding: 0.5rem;
$medium-padding: 1rem;
$large-padding: 1.5rem;
$btn-padding: 0.75rem 2rem;


// Colors
$header-footer-color: #D9DBD9;
$body-color: #F5F5F5;
$dark-color: #283B42;
$light-text-color: #8D9EA0;
$white: #FFF;