@use "../utils/variables" as *;
@use "../utils/mixins" as *;


#main {
    background-image: url('../img/glasses-lie-laptop-reflecting-light-from-screen-dark.jpg');
    background-size: cover;
    min-height: 60vh;  
    padding: 2rem 0;
    @include flex-center;
}

.bio {
  @include flex-center;
  gap: 3rem;  
  background-size: cover;

  .avatar {
      width: 15vw;
      height: 30h;
      object-fit: cover;
      display: block;
    }

    .intro {
    background-color: $header-color;
    width: 30vw;
    height: 30vh;
    padding: $small-padding;
    text-align: center;      
    flex-direction: column;
    gap: 1rem;
    color: $text-color;
    @include flex-center;

      p{
        padding: $medium-padding;
      }
    }
}

@include bio-media;
@include bio-avatar;
@include intro-buttons;