// Fonts
$header-font: 'Bebas Neue', sans-serif;
$body-font: 'Montserrat', sans-serif;

// Dimensions
$header-height: 60px;

// General
$ul-list-style: none;
$scale-factor: 1.5;
$small-padding: 0.5rem;
$medium-padding: 1rem;

// Colors
$header-color: #EDE4D9;
$body-bg-color: #F5F5F5;
$reddish-orange: #EA5D43;