// Fonts
$heading-font: 'Bebas Neue', sans-serif;
$body-font: 'Montserrat', sans-serif;
$bold-font-weight: 700;

// Fonts
$header-font: "Montserrat", sans-serif;
$body-font: "Montserrat", sans-serif;

// Dimensions
$header-height: 3.75rem;
$footer-height: 3.75rem;

// General
$scale-factor: 1.5;

// Padding
$medium-padding: 1rem;
$large-padding: 1.5rem;
$btn-padding: 0.75rem 2rem;
$btn-padding-small: 0.5rem 1.5rem;


// Colors
$light-gray: #D9DBD9;
$dark-color: #283B42;
$dark-light-color: #405f6a;
$white: #FFF;
$dark-blue: #405F68;